@font-face {
    font-family: 'Lineto Circular Black';
    src: url('../public/fonts/lineto-circular-black.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Archivo Black';
    src: url('../public/fonts/ArchivoBlack-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}